<% if logged_in? %>
	<h1><%= @race.name %></h1> 
	<h2><%= @race.language %></h2>
	<h2>
		Racial Ability Modifiers: <br>
		<ol>
			<li><%= @race.abs_1 %></li>
			<li><%= @race.abs_2 %></li>
		</ol>
	</h2>
	<h2>Racial Bonuses: <br>
		<ol>
			<li><%= @race.bonus_1 %></li>
			<li><%= @race.bonus_2 %></li>
		</ol>
	</h2>
	<% if @race.user_id != nil %>
		<a href="/races/<%= @race.slug %>/edit">Edit <%= @race.name %></a><br>
	<% end %>
	<a href="/races">Back to Races</a>
<% else %>
	<a href="/login">Log In</a>
<% end %>
