<% if logged_in? %>
<% binding.pry%>
	<h1><%= @race.name %></h1> 
	<h2><%= @race.language %></h2>
	<h2>
		Racial Ability Modifiers: <br>
		<ol>
			<li><%= @race.abs_1 %></li>
			<li><%= @race.abs_2 %></li>
		</ol>
	</h2>
	<h2>Racial Bonuses: <br>
		<ol>
			<li><%= @race.bonus_1 %></li>
			<li><%= @race.bonus_2 %></li>
		</ol>
	</h2>
<% else %>
	<a href="/login">Log In</a>
<% end %>
