<h1>Hello, <%= @user.username %></h1>

<h3>Your Characters:</h3>

<% @characters.each do |character| %>
	<a href="/characters/<%= character.slug %>"><%= character.name %></a><br>
	Race: <%= Race.find_by_id(character.race.to_i).name %><br>
	Class: <%= Klass.find_by_id(character.klass.to_i).name %><br>
<% end %>
