<% if flash.has?(:message) %>
	<%= flash[:message] %>
<% end %>

Edit/Update Character: <br>
<% @character.name %> <br> 
<form action="/characters/<%= @character.slug %>" method='POST'>
	<input type="hidden" name='_method' value='PATCH'>

	Name: <%= @character.name %><br>
	Race: <%= @character.race %><br>
	Class: <%= @character.klass %><br>
	Ability Scores:
	<br><label for="str">
		Strength: <input type="integer" name='character[str]'>
	</label><br>
	<label for="con">
		Constitution: <input type="integer" name='character[con]'>
	</label><br>
	<label for="dex">
		Dexterity: <input type="integer" name='character[dex]'>
	</label><br>
	<label for="wis">
		Wisdom: <input type="integer" name='character[wis]'>
	</label><br>
	<label for="int">
		Intelligence: <input type="integer" name='character[int]'>
	</label><br>
	<label for="cha">
		Charisma: <input type="integer" name='character[cha]'>
	</label><br>

	<input type="submit" value="Save Changes">
</form>

<form action="/characters/<%= @character.slug %>/delete" method='POST'>
	<input type="hidden" name='_method' value='delete'>
	<input type="submit" value="Delete Character">
</form>
<form action="/logout">
	<input type="submit" value="Log Out">
</form>