<% if logged_in? %>
	Name: <%= @character.name %><br>
	Race: <%= @character.race %><br>
	Class: <%= @character.klass %><br>
	Ability Scores:<br>
	Strength: <%= @character.str %><br>
	Constitution: <%= @character.con %><br>
	Dexterity: <%= @character.dex %><br>
	Wisdom: <%= @character.wis %><br>
	Intelligence: <%= @character.int %><br>
	Charisma: <%= @character.cha %><br>
	<a href="/characters/<%= @character.slug %>/edit">Edit <%= @character.name %></a><br>
	<form action="/logout">
		<input type="submit" value="Log Out">
	</form>
<% else %>
	<a href="/login">Log In to See Your Character</a>
<% end %>