<h3>Your Classes:</h3>

<% @klasses.each do |klasse| %>
	<a href='/klasses/<%= klasse.slug %>'><%= klasse.name %></a><br>
	<%= klasse.hitdie %><br>
	<%= klasse.proficencies %><br>
	<%= klasse.ability %><br>
<% end %>
