<% if logged_in? %>
	<h1>Name: <%= @klass.name %></h1>
	<h2>Hitdie: <%= @klass.hitdie %></h2>
	<h2>Proficencies: <%= @klass.proficencies %></h2>
	<h2>Ability: <%= @klass.ability %></h2>
	<h4><a href="/klasses/<%= @klass.slug %>/edit">Edit <%= @klass.name %></a></h4>
<% else %>
	<a href="/login">Log In</a>
<% end %>